<section class="main">
  <input type="checkbox" id="toggle-all" class="toggle-all" onchange={{action onToggleAll }}>
  <label for="toggle-all">Mark all as complete</label>

  <ul class="todo-list">
    {{#each items key="@index" as |item|}}
      <todo-list-item
        @text={{item.text}}
        @isDone={{item.isDone}}
        @onToggle={{action onToggle item}}
        @onDestroy={{action onDestroy item}}
      />
    {{/each}}
  </ul>
</section>
