<div>

  <header>
    <TodoInput @status="new" @onSubmit={{action addTodo}} />
  </header>

  <section class="main">
    <ToggleAll
      @allCompleted={{allCompleted}}
      @onComplete={{completeAll}}
      @onClear={{clearCompleted}}
    />

    <ul class="todo-list">
      {{#each todos key="@index" as |item|}}
        <TodoListItem
          @id={{item.id}}
          @text={{item.text}}
          @isCompleted={{item.isCompleted}}
          @onToggle={{action completeTodo item.id}}
          @onDestroy={{action deleteTodo item.id}}
          @onEdit={{action editTodo}}
        />
      {{/each}}
    </ul>
  </section>
</div>